.navbar {
  color: black;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: Inter, sans-serif;
}

.navbar a {
    text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Inter, sans-serif;
}

.nav-link:hover {
  background-color: rgb(37, 112, 229);
  color: white;
}

.cart-count {
  background-color: #ff4444;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 75px;
}
