<div class="menu-container">
    <h1 class="menu-title">Menu</h1>

    <div class="menu-grid">
        <app-menu-item *ngFor="let item of menuItems" [item]="item"></app-menu-item>
    </div>

    <div *ngIf="extras.length > 0" class="extras-section">
        <h2>Extras</h2>
        <img src="Extras.jpeg" class="food-image" alt="Extras" width="150" height="150">
        <div class="extras-grid">

            <div class="extra-item" *ngFor="let extra of extras">
                <label class="extra-label">
                    <input type="checkbox">
                    <span>{{extra.name}}  -  </span>
                    <span>{{extra.price | currency}}</span>
                </label>
            </div>

        </div>

        <button class="add-extras-btn">Add Extras to Cart</button>
    </div>
</div>