  .menu-title {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: inherit;
    position: relative;
    background-color: rgb(37, 112, 229);
    color: white;
    font-family: Inter, sans-serif;
  }

  .menu-grid {
    display: grid;
    grid-template-columns: auto auto;
  }

.food-image {
    border-radius: 999px;
}
